<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021413245160-nda8f41gvnk3p3ij6jjfh5fgcebnhlve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021413245160-nda8f41gvnk3p3ij6jjfh5fgcebnhlve</string>
	<key>API_KEY</key>
	<string>AIzaSyAPkIsQC2SfjwF12_SpqQ72ZE0rhATir2A</string>
	<key>GCM_SENDER_ID</key>
	<string>1021413245160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teavaro.fcEcommDemo.Teavaro-Ecomm-Demo-App</string>
	<key>PROJECT_ID</key>
	<string>ecomm-demo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomm-demo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021413245160:ios:3196928e6bb4932624895d</string>
</dict>
</plist>